<div class="modal-header" ng-if="vm.title">
	<button type="button" class="close" aria-hidden="true" ng-click="vm.close()">&times;</button>
	<h4 class="modal-title">{{vm.title}}</h4>
</div>
<div class="modal-body">
	<p ng-bind-html="vm.body | fmHtml"></p>
	<b class="text-danger" ng-if="vm.errors.length">{{vm.errors[0].message}}</b>
	<p ng-if="1 <= vm.errors.length">
		<span ng-repeat="error in vm.errors" ng-if="$index > 0">{{error.message}}<br></span>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="vm.close()">{{vm.closeLabel}}</button>
</div>
